{% extends 'base.html' %}

{% block myContent %}

    

<h1>Mount Zion College</h1>
<table class="table">
    <tr>
        <td>Student Name</td>
        <td> <input type="text" class="form-control"> </td>
    </tr>
    <tr>
        <td>Roll number</td>
        <td> <input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>Admission Number</td>
        <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td></td>
        <td><Button class="btn btn-danger">SUBMIT</Button></td>
    </tr>
</table>



{% endblock %}
   